.slide9 h2{
    text-align: center;
    margin-top: 0;
}
.slide9__flexbox {
	display: flex;
	flex-direction: column;
	min-height: 0;
	min-width: 0;
}
.slide9__container {
	box-shadow: 0 4px 60px rgb(162 162 162 / 25%);
	padding: 15px;
}
.slide9__slider {
	min-height: 0;
	min-width: 0;
	padding: 15px;
}
.slide9__nav {
	border-top: 1px solid gray ;
}
.slider {
	min-width: 0;
}
.slider p {
	margin: 0;
}
.slide__number {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	padding: 20px;
}
.slide__number .slide__slash {
	margin: 0 5px;
	opacity: 0.4;
}
.slide__number button {
	cursor: pointer;
	padding: 0;
	margin: 0;
	border: 0;
}
.slide__number button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.slide__number .slick-arrow {
	font-size: 0;
}
.slide__number .slick-arrow.slick-prev {
	background: url('../img/slider/svg/left_arrow.svg') 0 0/100% no-repeat;
	height: 35px;
	width: 35px;
}
.slide__number .slick-arrow.slick-next {
	background: url('../img/slider/svg/right_arrow.svg') 0 0/100% no-repeat;
	height: 35px;
	width: 35px;
}
.slider .slider__text {
	cursor: default;
	user-select: none;
}
.slider .slider__link {
	text-decoration: underline;
	color: #4f5a73;
}
.slider .slider__link:hover {
	text-decoration: none;
}
.slider .slider__link:visited {
	text-decoration: underline;
	color: #4f5a73;
}
.slider .slider__mainText {
	font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    color: #050c33;
}
.slider .slider__otherText {
	font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #838b9c;
}
.slick-track {
	display: flex;
	align-items: flex-start;
}
.slick-list {
	overflow: hidden;
}
.slide__number .slide__current {
	margin: 0 0 0 30px;
}
.slide__number .slide__length {
	margin: 0 30px 0 0;
	opacity: 0.4;
}
.slider .slider__otherText {
	margin: 28px 0 0 0;
}
@media (min-width: 1023px) {
	.slide9__container {
		padding: 60px 0 60px 60px;
	}
	.slide9__flexbox {
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
	}
	.slide9__slider {
		flex: 1 1 70%;
	}
	.slide9__nav {
		flex: 1 1 30%;
		border-top: 0px;
		border-left: 1px solid gray ;
		display: flex;
	}
	.slider .slider__img {
		margin: 0 0 40px;
	}
	.slider .slider__item {
		padding: 14px 60px;
	}
	.slide__number {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		padding: 20px 0px 20px 20px;
	}
}
